@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(59, 60, 152, 0.03);
  width: 100%;
  height: 100dvh;
}
#root {
  height: 100%;
}
main {
  @apply grid gap-10 h-full;
  grid-template-rows: auto 2fr auto;
}

nav {
  @apply relative z-[999] flex justify-between p-3 bg-transparent sticky top-0;
  backdrop-filter: blur(10px);
  box-shadow: 5px -6px 12px -1px #272626;
}
.nav-btn {
  @apply rounded-full border bg-black border-black py-1.5 px-5 text-white transition-all hover:bg-white hover:border-white text-lg hover:text-black text-center font-inter flex items-center justify-center;
}
.nav-menu {
  @apply text-white bg-transparent absolute flex flex-col gap-3 top-[68px] right-[-15px] rounded-l-lg;
  backdrop-filter: blur(10px);
  box-shadow: 5px -6px 12px -1px #272626;
}
.nav-menu-link {
  @apply hover:bg-white active:bg-white active:text-black p-3 hover:text-black w-full text-center;
  transition-property: all;
  transition-duration: 500ms;
}

.searchbar {
  @apply bg-white rounded-lg  py-1 px-2 min-w-96;
  outline: none;
}
.content {
  @apply flex flex-col gap-3 mt-10 justify-center;
}
.filters-wrapper {
  @apply flex w-fit relative;
}
.filter_btn {
  @apply border-2 p-1 text-left w-[200px];
}
.filter_menu {
  @apply absolute top-[100%] w-full;
  backdrop-filter: blur(10px);
  box-shadow: 5px -6px 12px -1px #272626;
}
.products-wrapper {
  @apply grid gap-3 flex-wrap justify-items-center;
  @apply grid-cols-[repeat(auto-fill,minmax(350px,1fr))];
}
.product {
  @apply flex flex-col items-center rounded-lg bg-white  flex-wrap  border overflow-hidden w-[350px];
}
.product-contents {
  @apply flex flex-col items-center w-full p-3;
  transition: background-color 500ms ease-in-out,
    background-image 500ms ease-in-out;
}
.product:hover .product-contents {
  background-color: hsla(161, 64%, 73%, 1);
}
.product:hover .view,
.product:hover .add_to_btn {
  opacity: 100%;
}
.product_img_wrapper {
  @apply relative flex justify-center w-full h-40 border-b-2 bg-transparent p-3;
}
.add_to_btn {
  @apply absolute bg-black text-white rounded-xl p-2 bottom-1 left-1 font-lato text-sm cursor-pointer;
  transition: all 250ms ease-in-out;
  opacity: 0%;
}

.product_img {
  @apply mb-2 bg-transparent;
}
.view {
  opacity: 0%;
  transition: all 250ms ease-in-out;
}
.product_content {
  @apply flex justify-center w-full;
}

.product_content_title {
  @apply w-full text-[18px]  text-center text-nowrap overflow-x-hidden text-ellipsis font-lato font-semibold text-gray-800;
  @apply sm:text-[16px];
}
.product_price {
  @apply font-lato text-gray-950 font-extrabold flex w-full justify-between items-center text-[20px];
}
footer {
  @apply flex flex-col gap-3 w-full border-t-2 p-3;
}
.main_info {
  @apply flex w-full justify-between flex-wrap p-3;
}
.left {
  @apply flex flex-col gap-3 mb-3;
}
.footer_logo {
  @apply flex w-[170px];
}
.links {
  @apply flex gap-10 p-2 flex-wrap;
}
.link_group {
  @apply flex flex-col gap-2 mx-6;
}
.privay_terms {
  @apply flex flex-wrap justify-between p-4 border-t;
}

.product_details_img {
  @apply rounded-lg bg-white overflow-hidden p-3  w-[500px];
}
.product_count {
  @apply w-max text-center rounded-lg py-2;
  background-color: rgb(214, 213, 213);
}
.product_count:focus-visible {
  outline: none;
}
